version: "3.3"
services:
  db:
    restart: always
    image: postgres:latest
    environment:
      POSTGRES_USER: starkliw
      POSTGRES_PASSWORD: ylab
      POSTGRES_DB: homework
    volumes:
      - .pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"